<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{{.title }}</title>
    <style>
        h1{
            color: black;
        }

        .container{
            margin: 1% auto;
            display: block;
            width: 1000px;
            text-align:center;
        }

        body{
            margin: 0 auto;
            font-family: Arial;
            background-color: rgb(255, 255, 255);
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
            margin-left: 5%;
        }

        .warn{
            color: red;
        }
        .success{
            color: green;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }

        table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
        }
        th, td {
            background-color: #96D4D4;
        }

    </style>
</head>
<body>
    <div class="container">
        <ul>
            <li><a href="/auth/home">Home</a></li>
            {{if eq .loginWith "un/pw" }}
            <li><a href="/auth/profile">Profile</a></li>
            {{end}}
            <li><a href="/auth/logout">Logout</a></li>
          </ul>

          <br>
          <br>

          <p> You have logged in, find your details below</p>
          <br>
          <br>
         

          <P>{{.profile}}</P>

    </div>

    <div class="container">
       <p>{{.message}}</p>
    </div>

</body>
</html>
