<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{{.title }} Sign up</title>
    <style>
        h1{
            color: black;
        }

        .form-container {
            margin: 10% auto;
            display: block;
            width:500px;
            text-align:center;
        }

        body{
            margin: 0 auto;
            font-family: Arial;
            background-color: rgb(255, 255, 255);
            /* color: white; */
        }

        .form-container input{
            margin-bottom:10px;
        }

        .warn{
            color: red;
        }

        .success{
            color: green;
        }

    </style>
</head>
<body>
    
<div class="form-container">
    <h1>{{.title }} Log in</h1>
    <form method="POST">
        <section>
            <input #email type="text" name="email" placeholder="Email" required>
            <br />
            <input #password type="password" name="password" placeholder="Password" required>
            <br />
            <button type="submit" role="button" >Sign up</button>
            
          </section>
    </form>
    <p class="warn">{{.warn}}</p>
    <a href="/sign_up"> Don't have an account? Sign up here</a>
    <br />
    <br />
    
    <p><a href="/google/login">Or else login with Google</a></p>
   
  </div>
</body>
</html>