<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{{.title }} Sign up</title>
    <style>
        h1{
            color: black;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
            margin-left: 5%;
        }

        .form-container {
            margin: 10% auto;
            display: block;
            width:500px;
            text-align:center;
        }

        body{
            margin: 0 auto;
            font-family: Arial;
            background-color: rgb(255, 255, 255);
            /* color: white; */
        }

        .form-container input{
            margin-bottom:10px;
        }

        .warn{
            color: red;
        }
        .success{
            color: green;
        }

    </style>
</head>
<body>
    
<div class="form-container">
    <ul>
        <li><a href="/auth/home">Home</a></li>

        {{if eq .loginWith "un/pw" }}
        <li><a href="/auth/profile">Profile</a></li>
        {{end}}
        
        <li><a href="/auth/logout">Logout</a></li>
      </ul>

      <br>
      <br>

    <h1>Update profile</h1>
    <form  method="POST">
        <section>
            <input #firstname type="text" name="first_name"  value="{{ .profile.FirstName}}" required>
            <br />
            <input #lastname type="text" name="last_name" value="{{ .profile.LastName}}" required>
            <br />
            <input #email type="text" name="email" value="{{ .profile.Email}}" required>
            <br />
            <input #password type="password" name="password" placeholder="Password" required>
            <br />
            <input #status type="text" name="status" value="{{ .profile.Status}}" required>
            <br />
            <button type="submit" role="button" >Sign up</button>
            
          </section>
    </form>

    
        <p class="warn">{{ .warn }}</p>
        <p class="success">{{ .success }} </p>
    
   
  </div>
</body>
</html>